
:root {
    --main-text: #757575;
    --title-text: #212121;
    --accent: #2196f3;
    --main-bg: #ffffff;
    --hero-bg: #2f303a;
    --header-borderline: #e5e5e5;
    --secondary-bg: #f5f4fa;
    --partfolio-border: #eeeeee;
    --soc-link: #afb1b8;
    --soc-link-h: #ffffff;
    --footerbcg-soc-link: #43444d;
    --clients-border: #afb1b8;
    --gap: 30px;
    --item: 1;
  }
section.hero {
    background-color: #2f303a;
    ;
   }
body {
  font-family: Roboto, sans-serif, Raleway;
  background-color: var(--main-bg);
  color: var(--main-text);
}
   h1{
        position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
   }
   #button {
    background-color: #2196F3;
    color: white;
   }
   footer{
       background-color: #2f303a;
   }

   #this-button {
    background-color: #2196F3;
    color: white;
}
footer{
    background-color: #2f303a;
}
